
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Orbitron:wght@400..900&family=Poiret+One&family=Reenie+Beanie&family=Six+Caps&display=swap");
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-audiowide: "Audiowide", cursive;
  --font-bodoni: "BodoniModa", serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-poiret: "Poiret One", cursive;
  --font-reenie: "Reenie Beanie", cursive;
  --font-sixcaps: "Six Caps", sans-serif;
}

body {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@theme inline {
  --animate-shiny-text: shiny-text 8s infinite;
  --animate-shine: shine var(--duration) infinite linear;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}
